<div class="col-md-6 centeralign">
  <div class="card centeralign addmargin">
    <div class="card-body">
      <div class="card-title">
        <span class="card-title">{{question.Id}}</span>
      </div>
      <div class="card-text">
        <p class="card-text">{{question.Text}}</p>
      </div>
      <div class="card-votes">
        <div class="card-vote-up" (click)=upVote(question.Id)>
          <span>{{question.upvotes}}</span>
          <span>upvotes</span>
        </div>
        <div class="card-vote-down" (click)=downVote(question.Id)>
          <span>{{question.downvotes}}</span>
          <span>downvotes</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card centeralign addmargin" *ngFor="let answer of answers">
    <div class="card-body">
      <div class="card-title">
        <span class="card-title">{{answer.Id}}</span>
      </div>
      <div class="card-text">
        <p class="card-text">{{answer.Answer}}</p>
      </div>
      <div class="card-votes">
        <span>{{answer.createdBy}}</span>
      </div>
    </div>
  </div>
  <div class="add-answer">
    <textarea type="text" name="workoutName" class="add-answer-textarea" [(ngModel)]='newAnswer'></textarea>
    <button class="add-answer-button" (click)=addAnswer(question.Id)>Add Answer</button>
  </div>

</div>

